@font-face {
  font-family: "Libre Franklin";
  src: url(./fonts/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Libre Franklin";
  src: url(./fonts/LibreFranklin-Italic-VariableFont_wght.ttf);
  font-style: italic;
}
