@import "./fonts/librefranklin";

$header-height: 71px;

body {
  font-family: "Libre Franklin";
}

p {
  font-size: 16px;
  line-height: 24px;
}

.text-h1 {
  font-weight: bold;
  font-size: 92px;
  line-height: 112px;
}
.text-h2 {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
}
.text-h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
}
.text-h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29.09px;
}

.text-subtitle,
.q-btn__content {
  font-weight: 600;
}

.text-hl {
  color: rgba($grey-1, 0.5);
}

.text-selectable {
  user-select: text;
}

.pre-line {
  white-space: pre-line;
}

.q-item--clickable,
.q-date,
.q-time {
  user-select: none !important;
}

.q-layout-container {
  background: $dark;
}
.q-layout {
  .q-header {
    background: $dark-accent;
  }

  .q-footer {
    background: $dark-accent;

    a:not(.q-btn) {
      color: inherit;
    }
  }
}

.q-dialog__backdrop {
  // backdrop-filter: blur(5px);
  background: $dialog-dark;
}
.q-dialog__inner {
  .q-layout-container {
    background: $dialog-dark-header;
  }
  .q-layout-container {
    .q-header {
      background: $dialog-dark-footer;
      box-shadow: none;
    }

    .q-footer {
      background: transparent;
      box-shadow: none;

      a:not(.q-btn) {
        color: inherit;
      }
    }
  }
}

.page-col {
  min-width: 300px !important;
  max-width: 600px !important;
  margin: 0 auto;
}

.sticky {
  position: sticky;

  &.header-top {
    top: $header-height + 16px;
  }

  .top {
    top: 0;
  }
  .bottom {
    bottom: 0;
  }
}

.border-primary {
  border-color: $primary;
}

.bg-dark-accent {
  background: $dark-accent !important;
}

.bg-gradient {
  background-image: radial-gradient(
      110% 50vh at 50% 25vh,
      $primary 0%,
      transparent 50%
    ),
    radial-gradient(
      100% 80vh at 0 90vh,
      $accent 0%,
      transparent 50%,
      transparent
    ),
    radial-gradient(
      100% 80vh at 100% 180vh,
      $accent 0%,
      transparent 50%,
      transparent
    );
  background-repeat: repeat-y;
  background-size: 100% 220vh;
  background-position: 50% -15vh;
}

.text-dark-accent {
  color: $dark-accent;
}

a:not(.q-btn):not(.q-item) {
  text-decoration: none;
  color: $accent;
  &:hover {
    text-decoration: underline;
  }
}

.dialog-header {
  height: $header-height;
  padding-top: 12px;
  padding-bottom: 11px;
}

body.desktop {
  &::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-corner {
    background: $separator-dark-color;
  }

  &::-webkit-scrollbar,
  ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb {
    border: 0;
    box-shadow: none;
    min-height: 40px;
    background: $grey-5;

    &:hover {
      background: $grey-6;
    }
  }

  &.body--dark {
    &::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-thumb {
      background: $grey-9;

      &:hover {
        background: $grey-8;
      }
    }
  }

  &::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track {
    background: transparent;
  }
}

.q-markdown--link {
  &.q-markdown--link-external:after {
    content: "\F03CC";
    font-family: "Material Design Icons";
  }
}
