@import "./fonts/librefranklin";
$header-height: 71px;

body {
  font-family: "Libre Franklin";
}

.q-btn__content {
  font-weight: bold;
}

.q-layout {
  background: $dark;

  .q-header {
    background: $dark-header;
  }

  .q-footer {
    background: $dark-footer;

    a:not(.q-btn) {
      color: inherit;
    }
  }
}

.page-col {
  min-width: 300px !important;
}

.sticky {
  position: sticky;

  &.header-top {
    top: $header-height + 16px;
  }

  .top {
    top: 0;
  }
  .bottom {
    bottom: 0;
  }
}

.border-primary {
  border-color: $primary;
}

a:not(.q-btn) {
  text-decoration: none;
  color: $primary;
  &:hover {
    text-decoration: underline;
  }
}
